*.o
code/bin/coff2flat
code/bin/coff2noff
code/bin/disassemble
code/bin/readnoff
code/userland/echo
code/userland/echo.coff
code/userland/filetest
code/userland/filetest.coff
code/userland/halt
code/userland/halt.coff
code/userland/matmult
code/userland/matmult.coff
code/userland/shell
code/userland/shell.coff
code/userland/sort
code/userland/sort.coff
code/userland/tiny_shell
code/userland/tiny_shell.coff
code/userland/touch
code/userland/touch.coff
code/userland/ps
code/userland/ps.coff
code/userland/create
code/userland/create.coff
code/userland/remove
code/userland/remove.coff
code/userland/exit
code/userland/exit.coff
Makefile.depends
nachos
